<h5>{{ title }}</h5>
<div class="row">
  <form materialize class="col s12" [formGroup]="form" (ngSubmit)="save()">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">account_circle</i>
        <input id="name" type="text" class="validate"
               [(ngModel)]="person.name" formControlName="name"
               [class.invalid]="form.controls['name'].touched && !form.controls['name'].valid"
        >
        <label for="name"
               [class.active]="person.name"
               data-error="Nome deve ter no mínimo 3 e no máximo 150 caracteres">
          Nome
        </label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">payment</i>
        <input id="document" type="text" class="validate"
               [(ngModel)]="person.document" formControlName="document"
               [class.invalid]="form.controls['document'].touched && !form.controls['document'].valid"
        >
        <label for="document"
               [class.active]="person.document"
               data-error="CPF Inválido">
          CPF
        </label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">email</i>
        <input id="email" type="email" class="validate"
               [(ngModel)]="person.email" formControlName="email"
               [class.invalid]="form.controls['email'].touched && !form.controls['email'].valid">
        <label for="email"
               [class.active]="person.email"
               data-error="Email inválido">
          Email
        </label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">date_range</i>
        <input id="birth" matInput
          placeholder="Nascimento"
          [matDatepicker]="picker"
          [(ngModel)]="person.birth"
          formControlName="birth"
          style="width:80%">
        <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit"
            [disabled]="!form.valid">
      Submit<i class="material-icons right">send</i>
    </button>
  </form>
</div>
